<header class="header">
    <!-- Topbar Section -->
    <div class="topbar mat-elevation-z1">
        <div class="topbar-left">
            <mat-icon aria-label="Email">email</mat-icon>
            <span aria-label="Email: support@example.com" class="sr-only">Support@example.com</span>
            <mat-icon aria-label="Phone">phone</mat-icon>
            <span aria-label="Phone: +1 234 567 890" class="sr-only">+1 234 567 890</span>
        </div>
        <div class="topbar-right">
            <span aria-label="Gold Prices in New York">Delhi (10gm)</span>
            <span aria-label="22k Gold Price" class="gold-price">22k: 68,100</span>
            <span aria-label="24k Gold Price" class="gold-price">24k: 70,300</span>
        </div>
    </div>

    <!-- Navbar Section -->
    <app-navbar></app-navbar>
</header>