<mat-toolbar class="navbar mat-elevation-z2">
  <div class="navbar-left">
    <img class="logo" src="assets/logo.png" alt="Logo" aria-label="Company Logo">
  </div>
  <div class="navbar-right">
    <button mat-button aria-label="Products">
      <mat-icon class="icon">shopping_cart</mat-icon>
      <span class="menu-text">Products</span>
    </button>
    <button mat-button aria-label="Account">
      <mat-icon class="icon">account_circle</mat-icon>
      <span class="menu-text">Account</span>
    </button>
    <button mat-button aria-label="Notifications">
      <mat-icon class="icon">notifications</mat-icon>
      <span class="menu-text">Notifications</span>
    </button>
    <button mat-button aria-label="Messages">
      <mat-icon class="icon">message</mat-icon>
      <span class="menu-text">Messages</span>
    </button>
    <button mat-button aria-label="Gallery">
      <mat-icon class="icon">photo_library</mat-icon>
      <span class="menu-text">Gallery</span>
    </button>
  </div>
</mat-toolbar>
